#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
    }

#frmMenu {
    width: 600px;
    height: 200;
    }

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: right;
    }

.left {
    width: 200px;
    height: 200px;
    float: left;
    }

.right {
    width: 200px;
    height: 200px;
    float: right;
    }

.center {
    width: 200px;
    height: 200px;
    float: left;
    }

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
    }

#cart {
    top: 0;margin: 0px auto;
    width: 400px;
    height: 200px;
    }

#btnOrder {
    margin: 10px 0px 100px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
    }

body {
    background-color: firebrick;    
}

h1 {
    font-family: 'Impact, fantasy';
    color: antiquewhite;
}

h3 {
    font-family: 'fantasy';
    color: antiquewhite;
}

div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: goldenrod;
}